
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.arrow-down {
  color: #EE7023;
  font-size: 35px;
}

.bottomBorder {
  border-top: 8px solid orange;
}

.first-nav {
  /* display: flex; */

}


.logo {
  width: 11%;
}

