@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
* {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin-bottom: 0px;
}
.primary-color {
  color: #EE7023;
}

.brown-color {
  color: #512B2B;
}

.button {
  border: none;
  color: white;
  padding: 10px 58px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.fs-8 {
  font-size: 15px;
}

.bottomBorder {
  border-top: 8px solid orange;
}

.nav1 {
  display: flex;
  align-items: center;
}

.logo {
  width: 11%;
  margin: 20px;
}

ul {
  list-style-type: none; 
}

ul.a {
  display: flex;
  margin-inline-start: auto;
}

ul.a li {
  padding-inline: 15px;
}

.fs-7 {
  font-size: 13px;
}

.secondary-color {
  background-color: #293303;
  color: white;
}

.fs-9 {
  font-size: 12px;
}

.login {
  padding: 20px 40px;
  background-color: #FBF2EA;
}

.login-2 {
  background-color: white;
}

.login-3 {
  background-color: #F4FBFD;
}

.log-title {
  font-weight: 100px;
}
.button1 {
  background-color: #EBE7E2; 
  color: #512B2B; 
  border: 1px solid white;
}

.button1:hover {
  background-color: #FDC129;
  color: black;
}

.login-input {
  padding: 4px;
  margin: 30px;
}

.enter {
  background-color: #F3AA8B;
}

